.pagination {
    margin-left: auto;
    margin-right: auto;
    width:max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.pagination__container {
    display: flex;
    gap: 5px;
}
.pagination__prev, 
.pagination__next,
.pagination__page {
    cursor: pointer;
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagination__active {
    background-color: var(--color-red);
    color: white;
    border-radius: 5px;
}